<ol class="breadcrumb">
  <li><a href="/">Início</a></li>
  <li class="active">{{we-strip-tags text=title maxLength=40}}</li>
</ol>

<div class="row">
  <div class="col-md-12">
    {{#region 'highlighted'}}{{/region}}
  </div>

  <div class="col-md-3">
    <div class="sidebar">
      <div class="site-contacts">
        <h4>Contatos</h4>
        <address>
          <ul class="list-unstyled">
            {{#if req.we.systemSettings.sitePhone1}}
              <li>
                <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> {{req.we.systemSettings.sitePhone1}}
              </li>
            {{/if}}
            {{#if req.we.systemSettings.sitePhone2}}
              <li>
                <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> {{req.we.systemSettings.sitePhone2}}
              </li>
            {{/if}}
            {{#if req.we.systemSettings.siteEmail1}}
              <li>
                <i class="glyphicon glyphicon-envelope"aria-hidden="true"></i> <a href="mailto:{{req.we.systemSettings.siteEmail1}}">{{req.we.systemSettings.siteEmail1}}</a>
              </li>
            {{/if}}
            {{#if req.we.systemSettings.siteEmail2}}
              <li>
                <i class="glyphicon glyphicon-envelope"aria-hidden="true"></i> <a href="mailto:{{req.we.systemSettings.siteEmail2}}"> {{req.we.systemSettings.siteEmail2}}</a>
              </li>
            {{/if}}
            {{#if req.we.systemSettings.siteDaysOfService}}
              <li>
                <i class="glyphicon glyphicon-time"aria-hidden="true"></i> {{req.we.systemSettings.siteDaysOfService}}
              </li>
            {{/if}}
          </ul>
        </address>
      </div>

      <div class="site-location">
        <h4>Localização</h4>

       {{#if req.we.systemSettings.siteAddress}}
          <p>
            <i class="glyphicon glyphicon-pushpin" aria-hidden="true"></i> {{req.we.systemSettings.siteAddress}}
          </p>
        {{/if}}

        {{#if req.we.systemSettings.googleMapsKey}}
          {{#if req.we.systemSettings.siteAddress}}
            <iframe
              width="100%"
              height="300"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key={{req.we.systemSettings.googleMapsKey}}
                &q={{req.we.systemSettings.siteName}}, {{req.we.systemSettings.siteAddress}}" allowfullscreen>
            </iframe>
          {{/if}}
        {{/if}}
      </div>

      {{#region 'sidebar'}}{{/region}}
    </div>
  </div>
  <div class="col-md-9">
    <div id="content" role="main">
      <h1>{{t "sitecontact.form.title"}}</h1>
      {{{form 'sitecontact' record validationError}}}
      {{#region 'content'}}{{/region}}
    </div>
    {{#region 'afterContent'}}{{/region}}
  </div>
</div>