<div class="record-item">
<div class="row">
  <div class="
    col-xs-offset-0 col-xs-12
    col-sm-offset-0 col-sm-12
    col-md-offset-3 col-md-8
    col-lg-offset-3 col-lg-6">

    {{#unless req.user.id}}
      <h1>Se registrar no sistema</h1>
      <ul class="nav nav-tabs">
        <li role="presentation">
          {{#link-to 'auth.login'}}{{t 'Login'}}{{/link-to}}
        </li>
        <li role="presentation" class="active">
          {{#link-to 'auth.signup'}}{{t 'Register'}}{{/link-to}}
        </li>
        <li role="presentation">
          {{#link-to 'auth.forgotPassword'}}{{t 'auth.forgot-password'}}{{/link-to}}
        </li>
      </ul>
      <div class="tab-content">
        <div class="social-logins text-center">
          <div class="btn-group">
            <a class='btn btn-primary disabled'>
              <i class="fa fa-facebook"></i>
            </a>
            <a class='btn btn-primary ' href='/auth/facebook'>Entrar com Facebook</a>
          </div>
        </div>

        <hr>
        <br>

        {{#unless newUserCreated}}
          {{{form 'register' req.body validationError}}}
        {{/unless}}
      </div>
    {{else}}
      <p>{{{t 'auth.login.authenticated.msg'}}}</p>
    {{/unless}}
  </div>
</div>
</div>