{{{render-bootstrap-config}}}
{{{render-javascript-tags 'footer'}}}
{{{render-client-component-templates}}}

<footer>
  <div class="row">
    <div class="col-md-3 footer-left-row">
      <div class="footer-item footer-left">
        {{#if req.we.systemSettings.siteName}}
          {{req.we.systemSettings.siteName}}
        {{else}}
          {{req.we.config.appName}}
        {{/if}}
      </div>
    </div>
    <div class="col-md-9">
      <div class="footer-item footer-middle">
        <a class="btn btn-lg btn-success btn-contact" href="/site-contact">Entre em contato</a>
        <span class="pull-right">{{we-menu menuSocial class="list-inline footer-social-links"}}</span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="desenvolvido-por">
        <p>Desenvolvido pela <a href="https://linkysystems.com">Linky Systems <img width="12" src="https://linkysystems.com/favicon.ico"></a><p>
      </div>
    </div>

  </div>

</footer>

{{!-- <footer>
  <div class="footer-borderer">
    <div class="row text-left">
      <div class="col-md-4">
        <div class="footer-item-1">
          <h4>Contatos</h4>
          <address>
            {{#if req.we.systemSettings.siteAddress}}
              <p>
                <i class="glyphicon glyphicon-pushpin" aria-hidden="true"></i> {{req.we.systemSettings.siteAddress}}
              </p>
            {{/if}}
            <ul class="list-unstyled">
              {{#if req.we.systemSettings.sitePhone1}}
                <li>
                  <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> Telefone 1: {{req.we.systemSettings.sitePhone1}}
                </li>
              {{/if}}
              {{#if req.we.systemSettings.sitePhone2}}
                <li>
                  <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> Telefone 2: {{req.we.systemSettings.sitePhone2}}
                </li>
              {{/if}}
              {{#if req.we.systemSettings.siteDaysOfService}}
                <li>
                  <i class="glyphicon glyphicon-time"aria-hidden="true"></i> {{req.we.systemSettings.siteDaysOfService}}
                </li>
              {{/if}}
              {{#if req.we.systemSettings.siteEmail1}}
                <li>
                  <i class="glyphicon glyphicon-envelope"aria-hidden="true"></i> <a href="mailto:{{req.we.systemSettings.siteEmail1}}">Email: {{req.we.systemSettings.siteEmail1}}</a>
                </li>
              {{/if}}
              {{#if req.we.systemSettings.siteEmail2}}
                <li>
                  <i class="glyphicon glyphicon-envelope"aria-hidden="true"></i> <a href="mailto:{{req.we.systemSettings.siteEmail2}}">Email: {{req.we.systemSettings.siteEmail2}}</a>
                </li>
              {{/if}}
            </ul>
          </address>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Sobre</h4>
        <p class="footer-site-description">{{{req.we.systemSettings.siteDescription}}}</p>
      </div>
      <div class="col-md-4">
        {{we-menu menuSocial class="list-inline footer-social-links"}}
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 text-center">
        <hr>
        <p>{{{req.we.systemSettings.siteFooter}}}<p>
      </div>
    </div>
  </div>
</footer> --}}