{{{template 'partials/admin-bar'}}}

<div class="header-topbar header-topbar-home">
  <div class="row logo-subtitle-area">
    <div class="col-md-12 {{#if req.we.systemSettings.logoUrlOriginal}}with-logo-img{{/if}}">
      <div class="logo-area">
        <a class="site-logo" href="/">
          {{#if req.we.systemSettings.logoUrlOriginal}}
            <img src="{{req.we.systemSettings.logoUrlOriginal}}"
                 alt="Logo" >
          {{/if}}
        </a>
        <div class="logo-arrow-down"></div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="header-middle">
        <div class="site-name-area">
          <span class="site-name">{{#if req.we.systemSettings.subTitle}}{{{req.we.systemSettings.subTitle}}}{{else}}
            {{req.we.systemSettings.siteName}}
          {{/if}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="header-subbar seccond-row"></div>
  <div class="clearfix"></div>

  <div class="header-topbar-menu">
    <div class="row">
      <div class="col-md-12 col-main">
        <nav id="mainNav" class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar1">
            {{we-menu menuMain class="nav navbar-nav"}}
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

