{{#if widget.slideshow.slides.length}}
  <div id="widget_slideshow_{{widget.id}}" class="carousel slide we-plugin-slideshow" data-ride="carousel">
    <ol class="carousel-indicators">
      {{#each widget.slideshow.slides as |slide key|}}
        <li data-target="#widget_slideshow_{{widget.id}}" data-slide-to="{{key}}" class="{{#if @first}}active{{/if}}"></li>
      {{/each}}
    </ol>
    <div class="carousel-inner" role="listbox">
      {{#each widget.slideshow.slides as |slide|}}
        <div class="item {{#if @first}}active{{/if}}">
          <div class="row">
            <div class="col-md-12 c-block-top">
              <a class="left carousel-control" href="#widget_slideshow_{{../widget.id}}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <h2>{{#if slide.link}}<a href="{{slide.link}}">{{slide.title}}</a>{{else}}{{slide.title}}{{/if}}</h2>
              <a class="right carousel-control" href="#widget_slideshow_{{../widget.id}}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="col-md-3 c-block-sidebar">
              <p class="slide-description">{{slide.description}} {{#if slide.link}}<br>
              <a href="{{slide.link}}" class="btn btn-default slide-link">{{slide.linkText}}</a></p>
              {{/if}}
            </div>
            <div class="col-md-9 c-block-main" style="background-image: url('{{#if slide.imageOBJ.urls.slide}}{{slide.imageOBJ.urls.slide}}{{else}}{{slide.imageOBJ.urls.original}}{{/if}}')">
              &nbsp;
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}