<div class="main-area user-layout">
  {{{breadcrumb}}}

  <div class="record-list">
    <div id="sysMessagesArea" class="container">{{{we-messages}}}</div>
    <div id="content" role="main">
      {{#region 'highlighted'}}{{/region}}


      {{#if user}}
        <div class="row content-view-record user-full-page
                      {{#if user.banner.length}}with-banner{{/if}}
                      {{#if user.avatar.length}}with-avatar{{/if}}
                   ">
          {{#if user.banner.length}}
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="user-banner">
              {{we-image user.banner 'banner' class="img-thumbnail user-banner-img"}}
              </div>
            </div>
          {{/if}}

          <div class="col-sm-4 col-md-4 col-lg-3">
            {{template 'user/sidebar' locals=this}}
          </div>

          <div class="col-sm-8 col-md-8 col-lg-9">
            <h1 class="user-displayName">{{user.displayName}}</h1>
            {{{body}}}
            {{#region 'content'}}{{/region}}
          </div>
        </div>
      {{else}}
        {{{body}}}
      {{/if}}

      {{#region 'afterContent'}}{{/region}}

    </div>
  </div>
</div>