<ol class="breadcrumb">
  <li><a href="/">Início</a></li>
  <li><a href="/hotel-event-structure">Estruturas</a></li>
  <li class="active">{{we-strip-tags text=data.name maxLength=40}}</li>
</ol>

<div class="record-item">
<div class="row content-view-record">
  <div class="col-md-8 col-lg-8">
    <h1 class="hotel-room-name">{{data.name}}</h1>
    {{#if data.featuredImage}}
      {{we-image data.featuredImage "banner" class="img-responsive img-thumbnail"}}
    {{/if}}
    <div class="content-body">{{{data.body}}}</div>
    {{#if data.images.length}}
      <hr>
      <div class=" content-image-galery-sidebar">
        <h4>Galeria de imagens</h4>
        <div>{{we-fancybox-galery images=data.images id="postImageGalery" style="medium"}}</div>
      </div>
      <hr>
    {{/if}}
    {{#can permission='update_hotel-event-structure' roleNames=req.userRoleNames}}
      <a href="/admin/#/hotel-event-structures/{{data.id}}" class="btn btn-default">Editar</a>
    {{/can}}
    {{#if data.allowComments}}
      <hr>
      <div class="content-comments">
        {{{comments modelName="content" modelId=data.id comments=data.metadata.comments count=data.metadata.commentCount locals=this}}}
      </div>
    {{/if}}
  </div>
  <div class="col-md-4 col-lg-4">
    {{#if data.tags.length}}
      <div class="sidebar-module">
        <div class="panel panel-default">
          <div class="panel-heading">Tags</div>
          <div class="panel-body">
            {{we-terms data.tags vocabularyName="Tags"}}
          </div>
        </div>
      </div>
    {{/if}}
    {{#if data.attachment.length}}
      <div class="sidebar-module">
        <div class="panel panel-default">
          <div class="panel-heading">Arquivos</div>
          <div class="panel-body">
            {{#each data.attachment}}
              <a href="{{urls.original}}" download><i class="fa fa-download" aria-hidden="true"></i> {{originalname}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    {{/if}}
    {{#region 'sidebar'}}{{/region}}
  </div>
</div>
</div>