<ul class="nav nav-tabs">
  <li>
    <a href="{{user.linkPermanent}}">Postagens</a>
  </li>
  <li class="active">
    <a href="/user/{{user.id}}/group">Grupos</a>
  </li>
</ul>

<div class="groups">
{{#each data}}
  {{render-record-teaser modelName='group' record=this locals=..}}
{{else}}
  <p class="text-center jumbotron">{{t 'group.find.empty'}}</p>
{{/each}}
</div>

{{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}
